<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GonT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel=" stylesheet" href="~/Content/Style.css" />
    <link rel=" stylesheet" href="~/Content/Slide.css" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @using Ictshop.Models
</head>

<body style="background-color:#fff;">

    @{ 
         var u = Session["use"] as Ictshop.Models.Nguoidung;
    }
    
    <div class="navbar-inverse navbar-fixed-top" style="background-color: #198754">

        <div class="container flec">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <div class="navbar-header">
                <a href="https://localhost:44322/">
                    <img class="navbar-brand" src="~/HinhanhSP/3.jpg" style="padding:10px" />
                </a>

                </div>
        
                <div class="collapse navbar-collapse navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class=" me-auto mb-2 mb-lg-0 ms-lg-4 nav navbar-nav">
                        <li class="nav-item">
                             <a class="nav-link active" aria-current="page" href="https://localhost:44322/">    

                                <span><i class="fa-solid fa-mobile"></i></span>
                                <span>ĐIỆN THOẠI</span>
                             </a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link active" aria-current="page" href="/Home/Search">    

                                <span><i class="fas fa-tablet"></i></span>
                                <span>TÌM KIẾM</span>
                             </a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link active" aria-current="page" href="#!">    

                                <span><i class="fa-solid fa-desktop"></i></span>
                                <span>PROFILE</span>
                             </a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link active" aria-current="page" href="/Home/Contact" title="LIENHE">    

                                <span><i class="fas fa-headphones"></i></span>
                                <span>LIÊN HỆ</span>
                             </a>
                        </li>
                        <li class="nav-item">
                             <a style="color:white" href="@Url.Action("Index", "DonHangs")" > 
                                 DƠN HÀNG
                             </a>
                        </li>
                    </ul>
					 @{
                if (u != null)
                {
                    <div class="col-sm-3 col-md-0" style="margin-top: 16px; margin-left: 100px; float:right;" >
                        <a style="color: white; margin-left:60px"> @u.Email &nbsp; </a>
                        <a style="color:red; float:right" href="/User/DangXuat"> Đăng Xuất</a>
                    </div>
                }
                else
                {
                    <div class="col-sm-2 col-md-0" style="margin-top: 16px; float:right;">
                        <a style="color: white; float: right " href="/User/Dangky"> Đăng ký</a>
                        &nbsp;
                        <a style="color: white; float: right ; margin-right:20px" href="/User/Dangnhap"> Đăng nhập</a>
                    </div>
                }


}
                    <div>
                </div>

                </div>
                <form class="form-inline" style="float:left">
                    @using (Html.BeginForm("Index", "User", FormMethod.Get)) { 
                        <input 
                               class="form-control mr-sm-2" 
                               type="text" 
                               placeholder="Tìm kiếm sản phẩm..." 
                               aria-label="Search" 
                               name="key"
                        >
                        <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
                    }
                   
                 </form>
                
                
                @Html.Action("GioHangPartial", "GioHang",new {@class="giohang"})
              
            </div>

        </nav>

        </div>


     </div>



    <div class="container body-content" style="margin-top:120px">
        @RenderBody()
        <div style="margin-top: 100px">
            <img class="img-responsive" src="~/HinhanhSP/ban2.jpg" />
        </div>
        <br />
    </div>  
        <footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a  href="index.html"><img class="navbar-brand" src="~/HinhanhSP/3.jpg" alt="#"></a>
							</div>
							<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
							<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul class="lui">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul class="lui">
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul class="lui">
									<li>NO. 342 - London Oxford Street.</li>
									<li>012 United Kingdom.</li>
									<li>info@eshop.com</li>
									<li>+032 3456 7890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul class="lui">
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © @DateTime.Now.Year - PhucThanh </p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img class="navbar-brand" src="~/HinhanhSP/3.jpg" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
